 {%extends "layout.html"%}
{% block content %}
    
 <!-- <section class="home">
    <div class="container">
        <div class="home-img">
        </div>
        <div class="home-content">
            <h1><span>Find your worker </span><span>on online</span></h1>
        </div>
    </div>
     -->
<!-- <!DOCTYPE html>
<html lang="en"> -->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <title>WORKERS PLATEFORM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href=
  "https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>
  <!-- Favicons -->
  <link href="/website/static/images/child care.jpg" rel="icon">
  <link href="/website/static/images/cook.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <!-- <link href="/website/static/css/aos.css" rel="stylesheet">
  <link href="/website/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/website/static/css/bootstrap-icons.css" rel="stylesheet">
  <link href="/website/static/css/boxicons.min.css" rel="stylesheet">
  <link href="/website/static/css/glightbox.min.css" rel="stylesheet">
  <link href="/website/static/css/swiper-bundle.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="../static/css/home.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand - v3.9.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- /**
* Template Name: BizLand - v3.9.1
* Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/ -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        

      <h1 class="logo"><a href="{{url_for('views.home')}}"><span>Helpcenter</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Helpcenter</span></h1>
      <h2>Using thise application we can find the workers </h2>
      <div class="d-flex">
        <a href="{{url_for('views.services')}}" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    

            

         

    <!-- ======= Counts Section ======= -->
    

   

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><span>Helpcenter</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
                <!-- <a href="#" class="bx bxl-facebook"></a>
                <a href="#" class="fa fa-pinterest"></a>
                <a href="#" class="fa fa-reddit"></a> -->
              <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></i></a>
              <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></i></a>
              <a href="#" class="google-plus"><i class="fa-brands fa-skype"></i></i></a>
              <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Helpcenter</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="/website/static/images/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/website/static/images/vendor/aos/aos.js"></script>
  <script src="/website/static/images/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/website/static/images/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/website/static/images/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/website/static/images/vendor/swiper/swiper-bundle.min.js.map"></script> -->
  <!-- <script src="assets/vendor/waypoints/noframework.waypoints.js"></script> -->
  <!-- <script src="/website/static/images/vendor/php-email-form/validate.js"></script> -->



  <!-- Template Main JS File -->
  <!-- <script src="/website/static/js/main.js"></script> --> 

</body>
{% endblock %} 

</html>