{%extends "layout.html"%}
{% block content %}
    
    <!-- Package section Starts -->
    <section class="package" id="package">
        <div class="section-title">
            <h1 id="heading">Promotional Package</h1>
            <span>for your bride's days</span>
        </div>
        <div class="package-cards">
            <div class="card">
                <div class="card-title">
                    <h1>Bronze</h1>
                </div>
                <div class="card-items">
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairstyle</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>makeup</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>nail</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">Hairremoval</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">eyebrow design</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">skin cleansing</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">reserved bridal room</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">table fruit</p>
                    </div>
                    <a class="btn" href="{{url_for('views.booking')}}">I want this</a>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    <h1>Silver</h1>
                </div>
                <div class="card-items">
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairstyle</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>makeup</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>nail</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairremoval</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>eyebrow design</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>skin cleansing</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">reserved bridal room</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">table fruit</p>
                    </div>
                    <a class="btn" href="{{url_for('views.booking')}}">I want this</a>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    <h1>Gold</h1>
                </div>
                <div class="card-items">
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairstyle</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>makeup</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>nail</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairremoval</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">eyebrow design</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>skin cleansing</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>reserved bridal room</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-xmark"></i>
                        <p class="not">table fruit</p>
                    </div>
                    <a class="btn" href="{{url_for('views.booking')}}">I want this</a>
                </div>
            </div>

            <div class="card">
                <div class="card-title">
                    <h1>Diamond</h1>
                </div>
                <div class="card-items">
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairstyle</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>makeup</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>nail</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>Hairremoval</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>eyebrow design</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>skin cleansing</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>reserved bridal room</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-square-check check-icon"></i>
                        <p>table fruit</p>
                    </div>
                    <a class="btn" href="{{url_for('views.booking')}}">I want this</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Package section Ends -->

{%endblock%}