{%extends "layoutAdmin.html"%}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
        <!-- <th scope="col">phone</th> -->
        <th scope="col">pincode</th>
        <th scope="col">work</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.address}}</td>
                <!-- <td>{{row.phne}}</td> -->
                <td>{{row.pincode}}</td>
                <td>{{row.work}}</td>
                {% if row.status == "Pending" %}
                  <td><form method="post" action="/acceptConceptdata/{{row.id}}"><a type="submit" class="btn btn-success" href="/acceptConceptdata/{{row.id}}"> Accept </a></form></td>
                  <td><form method="post" action="/rejectConceptdata/{{row.id}}"><a type="submit" class="btn btn-danger" href="/rejectConceptdata/{{row.id}}"> reject </a></form></td>
                {% else %}
                  <td>{{row.status}}</td>
                {% endif %}
               
            </tr>
        {% endfor %}
    </tbody>
  </table>
{%endblock%}
    

   